
extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class="centerDiv")
    div(class="innerCenterDiv row")
      div(id="filterSide" class="col-2")
         button(type="button" class="btn btn-primary filter" onclick="graphHumidity()") Humidity
         button(type="button" class="btn btn-primary filter" onclick="graphTemp()") Temperature 
      div(id="chart" class="col-10")

  script(src='/javascripts/d3.js')
  script(src='/javascripts/queue.js')
  script(src='/javascripts/dataVisual.js')
