doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta( name="author" content="")
    title Simple Sidebar - Start Bootstrap Template 
    link(href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(href="/stylesheets/simple-sidebar.css" rel="stylesheet")
    link(href="/stylesheets/graphStyle.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="https://d3js.org/d3-time-format.v2.min.js")

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Bootstrap Core CSS
    // MetisMenu CSS
    //- link(href='/vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
    //- // Custom CSS
    //- link(href='/dist/css/sb-admin-2.css', rel='stylesheet')
    //- // Morris Charts CSS
    //- link(href='/vendor/morrisjs/morris.css', rel='stylesheet')
    //- // Custom Fonts
    //- link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Energy Monitor
    style(type='text/css').
      html, #page { padding:0; margin:0;}
      body { margin:0; padding:0; width:100%; color:black; font:normal 17px/2.0em Sans-serif;}
      h1, h2, h3, h4, h5, h6 {color:black;}
      #page { background:silver;}
      #header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}
      /* Logo */
     /* #logo { padding:10px; width:auto; float:left;} */
      #logo h1 a, h1 a:hover { color:black; text-decoration:none;}
      #logo h1 span { color:#d3d3f9;}
      /* Header */
      #header { background:#fff; }
      #header-inner { margin:0 auto; padding:10px; width:970px;background:#fff;}
      /* Feature */
      .feature { background:limegreen;padding:0;}
      .feature-inner { margin:auto;padding:10px;width:970px;background:limegreen; }
      .feature-inner h1 {color:#d3d3f9;font-size:32px;text-align:center}
      /* Menu */
      #top-nav { margin:0 auto; padding:0px 0 0; height:37px; float:right;}
      #top-nav ul { list-style:none; padding:0; height:37px; float:left;}
      #top-nav ul li { margin:0; padding:0 0 0 8px; float:left;}
      #top-nav ul li a { display:block; margin:0; padding:8px 20px; color:black; text-decoration:none;}
      #top-nav ul li.active a, #top-nav ul li a:hover { color:#d3d3f9;}
      /* Content */
      #content-inner { margin:0 auto; padding:10px; width:970px;background:silver;}
      #content #contentbar { margin:0; padding:0; float:right; width:760px;}
      #content #contentbar .article { margin:0 0 24px; padding:0 20px 0 15px; }
      #content #sidebar { padding:0; float:left; width:200px;}
      #content #sidebar .widget { margin:0 0 12px; padding:8px 8px 8px 13px;line-height:1.4em;}
      #content #sidebar .widget h3 a { text-decoration:none;}
      #content #sidebar .widget ul { margin:0; padding:0; list-style:none; color:#959595;}
      #content #sidebar .widget ul li { margin:0;}
      #content #sidebar .widget ul li { padding:4px 0; width:185px;}
      #content #sidebar .widget ul li a { color:black; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px;}
      #content #sidebar .widget ul li a:hover { color:#d3d3f9; font-weight:bold; text-decoration:none;}
      /* Footerblurb */
      #footerblurb { background:silver;color:black;}
      #footerblurb-inner { margin:0 auto; width:970px; padding:10px;background:#d3d3f9;border-bottom-right-radius:15px;border-bottom-left-radius:15px;}
      #footerblurb .column { margin:0; text-align:justify; float:left;width:250px;padding:0 24px;}
      /* Footer */
      #footer { background:silver;}
      #footer-inner { background:silver;margin:auto; text-align:center; padding:12px; width:970px;}
      #footer a {color:black;text-decoration:none;}
      /* Clear both sides to assist with div alignment  */
      .clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
    script(type='text/javascript').
      /* =============================
      This script generates sample text for the body content.
      You can remove this script and any reference to it.
      ============================= */
      var bodyText=["The smaller your reality, the more convinced you are that you know everything.", "If the facts don't fit the theory, change the facts.", "The past has no power over the present moment.", "This, too, will pass.", "</p><p>You will not be punished for your anger, you will be punished by your anger.", "Peace comes from within. Do not seek it without.", "<h2>Heading</h2><p>The most important moment of your life is now. The most important person in your life is the one you are with now, and the most important activity in your life is the one you are involved with now."]
      function generateText(sentenceCount){
      for (var i=0; i<sentenceCount; i++)
      document.write(bodyText[Math.floor(Math.random()*7)]+" ")
      }
  body
    #page
      header#header
        #header-inner
          #logo
            h1
              a(href='../')
                | RAD
                span Energy
          #top-nav
            ul
              li
                a(href='/our_project/home') Our Project
              li
                a(href='/education/home') Education
              li
                a(href='/userinfo') Contact Us
              li
                a(href='/classes/makerspace') Energy Monitor
              //-     ul
              //-       li 
              //-         a(href='/classes/makerspace') Makerspace 
              //-       li
              //-         a(href='classes/mrjones') Mr. Jones 
              //- //- ul.dropdown-menu
              //- //-   li
              //- //-     a(href='#') HTML
              //-   li
              //-     a(href='#') CSS
              //-   li
              //-     a(href='#') JavaScript
                                    
          .clr
      .feature
        .feature-inner
          h1 Our Project  

    div(id='wrapper')
      div(class="container-fluid")
                      
  
        div(id="page-content-wrapper")
          div(style="width: 199px;")
          iframe(style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=81446" width="199" height="62" frameborder="0" scrolling="no")
          
          block content
         
      
    
    footer 
      //script(src="/javascripts/dataVisual.js")
      script(src="/vendor/jquery/jquery.min.js")
      script(scr='/javascripts/buttonToggle.js')
      script(src="/vendor/popper/popper.min.js")
      script(src="/vendor/bootstrap/js/bootstrap.min.js") 
      script.
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            console.log("change!");
        });
      script(src='../vendor/jquery/jquery.min.js')
      

    //pug is a view engine that helps see html 
        
