body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: #00ff6e */
}

a {
  color: #00B7FF;
}

#menu-toggle {
	margin-left: -15px;
	margin-top: -5px;
	font-size: 23px;
 }

.centerDiv{
	width:100%;
}

.innerCenterDiv {
	margin: 0 auto;
	width: 800px;
}

 #chart {

 }

 .filter {
 	margin: 5px;
 	width: 120px;
 }

 #filterSide {
 	margin-top: 25px;
 }
